@import url(https://fonts.google.com/specimen/Nunito+Sans);
*{
    padding: 0;
    margin: 0;
    font-size: 16px;
    font-family: 'Nunito Sans',sans-serif;
}

:root{
    --Dark-Blue: hsl(209, 23%, 22%);
    --Very-Dark-Blue: hsl(207, 26%, 17%);
    --Very-Dark-Blue: hsl(200, 15%, 8%);
    --Dark-Gray: hsl(0, 0%, 52%);
    --Very-Light-Gray: hsl(0, 0%, 98%);
    --White: hsl(0, 0%, 100%);
}
.container{
    height: 100vh;
    background: var(--Very-Light-Gray);
    position: relative;
}
nav{
    background: var(--White);
    padding: 1rem 4rem 1rem;
    font-weight: 600;
    display: flex;
    justify-content: space-between;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.search{
    padding: 1rem;
    position: absolute;
    background: white;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 22rem;
    top:7rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

input{
    width: 17rem;
    border: none;
}

.dropDown{
    margin-top: 2rem;
    width: 9rem;
    padding-left:0.5rem;
    padding:0.5rem 0.5rem;
    position: absolute;
    background: white;
    display: flex;
    flex-direction: row;
    top:0rem;
    left:0rem;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    background: white;
    
}
li{
    list-style-type: none;
    padding: 0.25rem 0rem 0.25rem 0rem;
    font-weight: 300;
    transition:0.15s;
    cursor: pointer;

}
li:hover{
    background: var(--Dark-Gray);
    color:white;
}

.filter{
    width: 9rem;
    padding-left:0.5rem;
    padding:0.5rem 0.5rem;
    position: absolute;
    background: white;
    justify-content: space-between;
    display: flex;
    top:7rem;
    right:5rem;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    cursor: pointer;
    font-weight: 300;
    height: 2rem;
    align-items: center;
}
.countries img{
    width:15rem;

}
.countries,.filterContainer{
    padding-left:4rem;
    margin-top:10rem;
    display: grid;
    grid-template-columns: auto auto auto auto;
}

.country,.filterCountries{
    width:15rem;
    background: white;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    padding-bottom:1rem;
    margin: 1rem;
}

.filterContainer{
    background: var(--Very-Light-Gray);
    height: 100vh;
    width: 94vw;
    position: absolute;
    left: 0;
}
.info{
    margin-left: 1rem;
}
.info h1{
    margin-bottom: 1rem;
    font-size: 1.5rem;
}
.info span{
    display: flex;
    margin-top: 0.5rem;
}
.buttons{
    position: absolute;
    height: 5rem;
    top:50%;
    width: 2rem;
    background: white;
    border: none;
    cursor: pointer;
}
.buttons:hover{
    border: 1px solid black;
}
.next{
    right: 0;
}

.filterFlag{
    width: 15rem;
}
ul{
    background: white;
    position: absolute;
    width: 10rem;
}